# Database
DB_HOST=localhost
DB_USER=qbeek
DB_PASSWORD=qbeek
DB_NAME=qbeek
DB_PORT=5432

# JWT Secrets
JWT_ACCESS_SECRET=your-super-secure-access
JWT_REFRESH_SECRET=your-super-secure-refresh

# Server
PORT=4200
API_PREFIX=api

##Other

DEFAULT_USER_PASSWORD=Z12345678!